<%= render layout: 'shards/default_box', locals: {box_title: "配置管理" }  do | box |%>
    <div class="col-md-12">
      <% case box when Box::Body %>
          <table id="generator_list" class="table table-bordered table-hover nowrap" cellspacing="0" width="100%" >
            <thead>
            <tr>
              <th width="200">配置名称</th>
              <th width="200" >操作</th>
            </tr>
            </thead>
            <tbody>
            <% @names.each do |name| %>
                <tr>
                  <td>
                    <%= name %>
                  </td>
                  <td>
                    <%= link_to '编辑', "/generator/generators_operate/read_file/#{name}" %>
                    <%= link_to '删除', "/generator/generators_operate/delete_file/#{name}", :confirm => '确认删除?', :method => :delete %>
                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>
      <% when Box::Footer %>
          <%=button_to '新建配置', "/generator/generators_operate/index", class: 'btn btn-primary'%>
      <% end %>
    </div>
<% end %>
<script type="text/javascript">
  $(function(){
    init_dataTables("generator_list",false);
  })
</script>
