<%= render layout: 'shards/default_box', locals: { box_title: "修改密码"}  do | box |%>
  <div class="col-md-12">
    <% case box when Box::Body %>
      <%=form_for(:account, url: {action: "update_password", controller: "update_password"}, html: {class: "form-horizontal",role: "form" })  do |f| %>
      <% if @account.errors.any? %>
        <div class="alert alert-danger" role="alert">
          <h2><%= "#{@account.errors.count}个错误导致保存失败。" %></h2>
          <ul>
          <% @account.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
        <div class="form-group">
          <%= f.label :name, "用户名", class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= @account.name %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :current_password, "当前密码", class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.password_field :current_password, :value => ""%>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :password, "新密码", class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%=f.password_field :password, :value => ""%>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation, "确认新密码", class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%=f.password_field :password_confirmation, :value => ""%>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <%= f.submit '修改', 'class'=>'btn btn-default btn-sm'%>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
