<div class="<%= defined?(box_grid)? box_grid : nil %>">
  <!-- Default box -->
  <div class="box <%= defined?(box_class)? box_class : nil %>">
    <div class="box-header with-border">
      <h3 class="box-title"><%= defined?(box_title)? box_title : default_title
 %></h3>
      <div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
        <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
      </div>
    </div>
    <div class="box-body">
      <%unless notice.blank? %><div class="alert alert-success" role="alert"><%= notice %></div> <%end%>
      <%= yield Box::Body %>
    </div><!-- /.box-body -->
    <div class="box-footer">
      <%= yield Box::Footer %>
    </div><!-- /.box-footer-->
  </div><!-- /.box -->
</div>
