<%= form_for(@role, html: {class: "form-horizontal", role: "form" }) do |f| %>
    <% if @role.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <h3>保存时有<%= @role.errors.count %>个错误:</h3>
        <ul>
        <% @role.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.label :name, "角色名称", class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%=f.text_field :name, class: "form-control", placeholder: "角色名称" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :description, "备注", class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%=f.text_area :description, rows: 4, class: "form-control", placeholder: "备注" %>
      </div>
    </div>

    <div class="form-group">
        <%= f.submit '提交', class: 'btn btn-primary pull-right' %>
    </div>
<% end %>
