<%= render layout: 'shards/default_box', locals: {box_title: "角色列表"}  do | box |%>
  <div class="col-md-12">
    <% case box when Box::Body %>
      <table id="role_list" class="table table-bordered table-hover nowrap" cellspacing="0" width="100%" >
        <thead>
          <tr>
          <th width="200">角色</th>
          <th>备注</th>
          <th width="200" >操作</th>
          </tr>
        </thead>
        <tbody>
          <% @roles.each do |role| %>
            <tr>
              <td><%= role.name %></td>
              <td><%= role.description %></td>
              <td>
                <%= link_to '编辑', edit_system_role_path(role) %>
                <%= link_to '删除', role, :confirm => '确认删除?', :method => :delete %>
                <%= link_to '编辑权限', "#{system_permissions_path}?link_type=#{Pass::Role::LINK_TYPE}&link_id=#{role.id}" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% when Box::Footer %>
      <%=button_to '新建角色', new_system_role_path, class: 'btn btn-primary'%>
    <% end %>
  </div>
<% end %>
<script type="text/javascript">
    $(function(){
       init_dataTables("role_list", {buttons: []});
    })
</script>
